   ATOMS   
-----------
Atom id: a1
Atom type: N
X position: -2.571449
Y position: -0.460066
Z position: -0.354249
Atoms bonded to ['a2', 'a5', 'a50']
Number of bonds 3
OPLS id 181
OPLS bond id 24
OPLS sigma 3.2500
OPLS epsilon 0.1700
OPLS partial charge -0.1400

Atom id: a2
Atom type: C
X position: -1.209036
Y position: -0.297089
Z position: -0.308345
Atoms bonded to ['a1', 'a3', 'a6']
Number of bonds 3
OPLS id 177
OPLS bond id 3
OPLS sigma 3.7500
OPLS epsilon 0.1050
OPLS partial charge 0.5000

Atom id: a3
Atom type: C
X position: -0.883743
Y position: 0.769403
Z position: 0.495927
Atoms bonded to ['a2', 'a4', 'a8']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a4
Atom type: C
X position: -2.106505
Y position: 1.288794
Z position: 0.974347
Atoms bonded to ['a3', 'a5', 'a7']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a5
Atom type: C
X position: -3.134813
Y position: 0.519027
Z position: 0.429582
Atoms bonded to ['a1', 'a4', 'a75']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a6
Atom type: O
X position: -0.420596
Y position: -1.022174
Z position: -0.883360
Atoms bonded to ['a2']
Number of bonds 1
OPLS id 178
OPLS bond id 4
OPLS sigma 2.9600
OPLS epsilon 0.2100
OPLS partial charge -0.5000

Atom id: a7
Atom type: C
X position: -1.777336
Y position: 2.355028
Z position: 1.776412
Atoms bonded to ['a4', 'a9', 'a24']
Number of bonds 3
OPLS id 177
OPLS bond id 3
OPLS sigma 3.7500
OPLS epsilon 0.1050
OPLS partial charge 0.5000

Atom id: a8
Atom type: C
X position: 0.145040
Y position: 1.529295
Z position: 1.047099
Atoms bonded to ['a3', 'a9', 'a10']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a9
Atom type: N
X position: -0.414977
Y position: 2.516312
Z position: 1.826348
Atoms bonded to ['a7', 'a8', 'a25']
Number of bonds 3
OPLS id 181
OPLS bond id 24
OPLS sigma 3.2500
OPLS epsilon 0.1700
OPLS partial charge -0.1400

Atom id: a10
Atom type: C
X position: 1.606408
Y position: 1.284752
Z position: 0.856230
Atoms bonded to ['a8', 'a11', 'a12']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a11
Atom type: C
X position: 2.214196
Y position: 0.475916
Z position: -0.119652
Atoms bonded to ['a10', 'a13', 'a14']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a12
Atom type: S
X position: 2.844636
Y position: 1.873012
Z position: 1.798801
Atoms bonded to ['a10', 'a15']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a13
Atom type: C
X position: 3.631477
Y position: 0.418497
Z position: -0.014704
Atoms bonded to ['a11', 'a15', 'a16']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a14
Atom type: H
X position: 1.688453
Y position: -0.050588
Z position: -0.892478
Atoms bonded to ['a11']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a15
Atom type: C
X position: 4.136014
Y position: 1.173056
Z position: 1.043963
Atoms bonded to ['a12', 'a13', 'a109']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a16
Atom type: H
X position: 4.251241
Y position: -0.156391
Z position: -0.690205
Atoms bonded to ['a13']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a17
Atom type: S
X position: 10.673560
Y position: 1.518877
Z position: 2.512256
Atoms bonded to ['a19', 'a18']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a18
Atom type: C
X position: 9.485248
Y position: 0.937083
Z position: 1.518358
Atoms bonded to ['a20', 'a17', 'a113']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a19
Atom type: C
X position: 11.991932
Y position: 0.836574
Z position: 1.781734
Atoms bonded to ['a17', 'a21', 'a116']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a20
Atom type: C
X position: 10.108024
Y position: 0.146711
Z position: 0.545644
Atoms bonded to ['a18', 'a21', 'a22']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a21
Atom type: C
X position: 11.522022
Y position: 0.088917
Z position: 0.694076
Atoms bonded to ['a20', 'a19', 'a23']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a22
Atom type: H
X position: 9.573554
Y position: -0.374158
Z position: -0.237902
Atoms bonded to ['a20']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a23
Atom type: H
X position: 12.158867
Y position: -0.489831
Z position: 0.039055
Atoms bonded to ['a21']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a24
Atom type: O
X position: -2.564647
Y position: 3.080580
Z position: 2.355990
Atoms bonded to ['a7']
Number of bonds 1
OPLS id 178
OPLS bond id 4
OPLS sigma 2.9600
OPLS epsilon 0.2100
OPLS partial charge -0.5000

Atom id: a25
Atom type: C
X position: 0.255511
Y position: 3.591316
Z position: 2.576647
Atoms bonded to ['a9', 'a26', 'a27', 'a28']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a26
Atom type: C
X position: 0.924176
Y position: 4.633206
Z position: 1.631181
Atoms bonded to ['a25', 'a29', 'a30', 'a31']
Number of bonds 4
OPLS id 15
OPLS bond id 10
OPLS sigma 3.8500
OPLS epsilon 0.0800
OPLS partial charge 0.0000

Atom id: a27
Atom type: H
X position: 0.980570
Y position: 3.137858
Z position: 3.282319
Atoms bonded to ['a25']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a28
Atom type: H
X position: -0.474049
Y position: 4.128786
Z position: 3.217806
Atoms bonded to ['a25']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a29
Atom type: C
X position: -0.112321
Y position: 5.268633
Z position: 0.669007
Atoms bonded to ['a26', 'a32', 'a33', 'a34']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a30
Atom type: C
X position: 1.749048
Y position: 5.628808
Z position: 2.499256
Atoms bonded to ['a26', 'a38', 'a39', 'a40']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a31
Atom type: H
X position: 1.643728
Y position: 4.100588
Z position: 0.981417
Atoms bonded to ['a26']
Number of bonds 1
OPLS id 
OPLS bond id 
OPLS sigma 
OPLS epsilon 
OPLS partial charge 

Atom id: a32
Atom type: C
X position: -1.155345
Y position: 6.164884
Z position: 1.343271
Atoms bonded to ['a29', 'a35', 'a36', 'a37']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a33
Atom type: H
X position: -0.642514
Y position: 4.462892
Z position: 0.118155
Atoms bonded to ['a29']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a34
Atom type: H
X position: 0.414566
Y position: 5.840438
Z position: -0.113665
Atoms bonded to ['a29']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a35
Atom type: H
X position: -1.764336
Y position: 5.599666
Z position: 2.074796
Atoms bonded to ['a32']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a36
Atom type: H
X position: -1.841636
Y position: 6.570169
Z position: 0.570475
Atoms bonded to ['a32']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a37
Atom type: H
X position: -0.674244
Y position: 7.019230
Z position: 1.859262
Atoms bonded to ['a32']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a38
Atom type: C
X position: 2.686101
Y position: 6.619995
Z position: 1.774685
Atoms bonded to ['a30', 'a41', 'a42', 'a43']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a39
Atom type: H
X position: 2.433212
Y position: 4.987081
Z position: 3.099112
Atoms bonded to ['a30']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a40
Atom type: H
X position: 1.107054
Y position: 6.173293
Z position: 3.224765
Atoms bonded to ['a30']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a41
Atom type: C
X position: 2.012388
Y position: 7.881585
Z position: 1.207708
Atoms bonded to ['a38', 'a44', 'a45', 'a46']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a42
Atom type: H
X position: 3.274571
Y position: 6.085430
Z position: 0.997562
Atoms bonded to ['a38']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a43
Atom type: H
X position: 3.401263
Y position: 6.986809
Z position: 2.544970
Atoms bonded to ['a38']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a44
Atom type: C
X position: 3.052034
Y position: 8.838114
Z position: 0.628173
Atoms bonded to ['a41', 'a47', 'a48', 'a49']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a45
Atom type: H
X position: 1.467662
Y position: 8.404406
Z position: 2.023538
Atoms bonded to ['a41']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a46
Atom type: H
X position: 1.298748
Y position: 7.653886
Z position: 0.403059
Atoms bonded to ['a41']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a47
Atom type: H
X position: 3.778255
Y position: 9.144676
Z position: 1.410954
Atoms bonded to ['a44']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a48
Atom type: H
X position: 2.546810
Y position: 9.747682
Z position: 0.239840
Atoms bonded to ['a44']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a49
Atom type: H
X position: 3.599662
Y position: 8.351575
Z position: -0.207079
Atoms bonded to ['a44']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a50
Atom type: C
X position: -3.235798
Y position: -1.537106
Z position: -1.107874
Atoms bonded to ['a1', 'a51', 'a52', 'a53']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a51
Atom type: C
X position: -3.862021
Y position: -2.610248
Z position: -0.169523
Atoms bonded to ['a50', 'a54', 'a55', 'a56']
Number of bonds 4
OPLS id 15
OPLS bond id 10
OPLS sigma 3.8500
OPLS epsilon 0.0800
OPLS partial charge 0.0000

Atom id: a52
Atom type: H
X position: -2.503341
Y position: -2.059285
Z position: -1.762646
Atoms bonded to ['a50']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a53
Atom type: H
X position: -3.976975
Y position: -1.080003
Z position: -1.794526
Atoms bonded to ['a50']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a54
Atom type: C
X position: -4.680238
Y position: -3.594322
Z position: -1.052752
Atoms bonded to ['a51', 'a63', 'a64', 'a65']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a55
Atom type: C
X position: -2.715717
Y position: -3.249848
Z position: 0.671338
Atoms bonded to ['a51', 'a57', 'a58', 'a59']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a56
Atom type: H
X position: -4.566425
Y position: -2.110670
Z position: 0.521166
Atoms bonded to ['a51']
Number of bonds 1
OPLS id 
OPLS bond id 
OPLS sigma 
OPLS epsilon 
OPLS partial charge 

Atom id: a57
Atom type: C
X position: -3.111092
Y position: -4.306409
Z position: 1.696002
Atoms bonded to ['a55', 'a60', 'a61', 'a62']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a58
Atom type: H
X position: -2.233036
Y position: -2.434855
Z position: 1.252204
Atoms bonded to ['a55']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a59
Atom type: H
X position: -1.947449
Y position: -3.690960
Z position: -0.000887
Atoms bonded to ['a55']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a60
Atom type: H
X position: -2.222102
Y position: -4.562505
Z position: 2.310703
Atoms bonded to ['a57']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a61
Atom type: H
X position: -3.412016
Y position: -5.246942
Z position: 1.201778
Atoms bonded to ['a57']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a62
Atom type: H
X position: -3.908105
Y position: -3.923717
Z position: 2.368014
Atoms bonded to ['a57']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a63
Atom type: C
X position: -5.763065
Y position: -4.399244
Z position: -0.308028
Atoms bonded to ['a54', 'a66', 'a67', 'a68']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a64
Atom type: H
X position: -3.995254
Y position: -4.252495
Z position: -1.630613
Atoms bonded to ['a54']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a65
Atom type: H
X position: -5.256640
Y position: -2.984102
Z position: -1.784102
Atoms bonded to ['a54']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a66
Atom type: C
X position: -6.585406
Y position: -5.241639
Z position: -1.292359
Atoms bonded to ['a63', 'a69', 'a70', 'a71']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a67
Atom type: H
X position: -6.441983
Y position: -3.688298
Z position: 0.213011
Atoms bonded to ['a63']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a68
Atom type: H
X position: -5.340811
Y position: -5.080575
Z position: 0.442864
Atoms bonded to ['a63']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a69
Atom type: C
X position: -7.683789
Y position: -6.018865
Z position: -0.572163
Atoms bonded to ['a66', 'a72', 'a73', 'a74']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a70
Atom type: H
X position: -5.917842
Y position: -5.961895
Z position: -1.813877
Atoms bonded to ['a66']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a71
Atom type: H
X position: -7.058037
Y position: -4.580017
Z position: -2.050961
Atoms bonded to ['a66']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a72
Atom type: H
X position: -7.241165
Y position: -6.708484
Z position: 0.177858
Atoms bonded to ['a69']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a73
Atom type: H
X position: -8.260238
Y position: -6.617374
Z position: -1.308637
Atoms bonded to ['a69']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a74
Atom type: H
X position: -8.378714
Y position: -5.319510
Z position: -0.060152
Atoms bonded to ['a69']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a75
Atom type: C
X position: -4.599616
Y position: 0.737496
Z position: 0.648947
Atoms bonded to ['a5', 'a76', 'a81']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a76
Atom type: C
X position: -5.196570
Y position: 1.548915
Z position: 1.629161
Atoms bonded to ['a75', 'a77', 'a78']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a77
Atom type: C
X position: -6.617988
Y position: 1.553626
Z position: 1.584791
Atoms bonded to ['a76', 'a79', 'a80']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a78
Atom type: H
X position: -4.660776
Y position: 2.107999
Z position: 2.370603
Atoms bonded to ['a76']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a79
Atom type: C
X position: -7.141684
Y position: 0.753027
Z position: 0.569820
Atoms bonded to ['a77', 'a81', 'a82']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a80
Atom type: H
X position: -7.227299
Y position: 2.118469
Z position: 2.277930
Atoms bonded to ['a77']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a81
Atom type: S
X position: -5.856936
Y position: 0.082331
Z position: -0.226834
Atoms bonded to ['a79', 'a75']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a82
Atom type: C
X position: -8.561787
Y position: 0.529941
Z position: 0.270937
Atoms bonded to ['a79', 'a83', 'a86']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a83
Atom type: S
X position: -9.848667
Y position: 1.193707
Z position: 1.080054
Atoms bonded to ['a82', 'a84']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a84
Atom type: C
X position: -11.089218
Y position: 0.501677
Z position: 0.222825
Atoms bonded to ['a83', 'a85', 'a89']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a85
Atom type: C
X position: -10.508909
Y position: -0.302926
Z position: -0.764838
Atoms bonded to ['a84', 'a86', 'a87']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a86
Atom type: C
X position: -9.086030
Y position: -0.287115
Z position: -0.737766
Atoms bonded to ['a82', 'a85', 'a88']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a87
Atom type: H
X position: -11.079442
Y position: -0.880745
Z position: -1.479722
Atoms bonded to ['a85']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a88
Atom type: H
X position: -8.475869
Y position: -0.853594
Z position: -1.428911
Atoms bonded to ['a86']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a89
Atom type: C
X position: -12.524451
Y position: 0.704187
Z position: 0.460369
Atoms bonded to ['a84', 'a90', 'a95']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a90
Atom type: C
X position: -13.098691
Y position: 1.523564
Z position: 1.438843
Atoms bonded to ['a89', 'a91', 'a92']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a91
Atom type: C
X position: -14.520628
Y position: 1.520104
Z position: 1.410956
Atoms bonded to ['a90', 'a93', 'a94']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a92
Atom type: H
X position: -12.524462
Y position: 2.106126
Z position: 2.147177
Atoms bonded to ['a90']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a93
Atom type: C
X position: -15.055692
Y position: 0.696084
Z position: 0.414979
Atoms bonded to ['a91', 'a95', 'a96']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a94
Atom type: H
X position: -15.127502
Y position: 2.096982
Z position: 2.096470
Atoms bonded to ['a91']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a95
Atom type: S
X position: -13.770800
Y position: 0.008133
Z position: -0.386832
Atoms bonded to ['a93', 'a89']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a96
Atom type: C
X position: -16.522619
Y position: 0.501309
Z position: 0.156611
Atoms bonded to ['a93', 'a97', 'a98', 'a99']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a97
Atom type: C
X position: -16.825229
Y position: -0.522496
Z position: -0.946475
Atoms bonded to ['a96', 'a100', 'a101', 'a102']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a98
Atom type: H
X position: -16.964812
Y position: 1.485126
Z position: -0.110216
Atoms bonded to ['a96']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a99
Atom type: H
X position: -16.989217
Y position: 0.145944
Z position: 1.101325
Atoms bonded to ['a96']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a100
Atom type: C
X position: -18.340613
Y position: -0.662010
Z position: -1.139974
Atoms bonded to ['a97', 'a103', 'a104', 'a105']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a101
Atom type: H
X position: -16.400047
Y position: -1.503353
Z position: -0.638927
Atoms bonded to ['a97']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a102
Atom type: H
X position: -16.358148
Y position: -0.211826
Z position: -1.907280
Atoms bonded to ['a97']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a103
Atom type: C
X position: -18.688715
Y position: -1.808182
Z position: -2.096269
Atoms bonded to ['a100', 'a106', 'a107', 'a108']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a104
Atom type: H
X position: -18.754021
Y position: 0.298322
Z position: -1.520539
Atoms bonded to ['a100']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a105
Atom type: H
X position: -18.809297
Y position: -0.886692
Z position: -0.156430
Atoms bonded to ['a100']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a106
Atom type: C
X position: -20.210041
Y position: -1.936714
Z position: -2.249546
Atoms bonded to ['a103', 'a135', 'a136', 'a137']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a107
Atom type: H
X position: -18.284077
Y position: -2.751531
Z position: -1.667928
Atoms bonded to ['a103']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a108
Atom type: H
X position: -18.224753
Y position: -1.640758
Z position: -3.093680
Atoms bonded to ['a103']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a109
Atom type: C
X position: 5.541311
Y position: 1.319504
Z position: 1.431341
Atoms bonded to ['a15', 'a110', 'a115']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a110
Atom type: C
X position: 6.034503
Y position: 2.077445
Z position: 2.499359
Atoms bonded to ['a109', 'a111', 'a112']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a111
Atom type: C
X position: 7.447953
Y position: 2.012453
Z position: 2.625505
Atoms bonded to ['a110', 'a113', 'a114']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a112
Atom type: H
X position: 5.408755
Y position: 2.655444
Z position: 3.166615
Atoms bonded to ['a110']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a113
Atom type: C
X position: 8.051794
Y position: 1.205312
Z position: 1.654671
Atoms bonded to ['a111', 'a115', 'a18']
Number of bonds 3
OPLS id 90
OPLS bond id 48
OPLS sigma 3.5500
OPLS epsilon 0.0700
OPLS partial charge -0.1150

Atom id: a114
Atom type: H
X position: 7.996229
Y position: 2.537038
Z position: 3.397004
Atoms bonded to ['a111']
Number of bonds 1
OPLS id 91
OPLS bond id 49
OPLS sigma 2.4200
OPLS epsilon 0.0300
OPLS partial charge 0.1150

Atom id: a115
Atom type: S
X position: 6.843235
Y position: 0.609659
Z position: 0.689557
Atoms bonded to ['a109', 'a113']
Number of bonds 2
OPLS id 26
OPLS bond id 16
OPLS sigma 3.5500
OPLS epsilon 0.2500
OPLS partial charge -0.4700

Atom id: a116
Atom type: C
X position: 13.401368
Y position: 0.976235
Z position: 2.261807
Atoms bonded to ['a19', 'a117', 'a118', 'a119']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a117
Atom type: C
X position: 14.326323
Y position: 1.771370
Z position: 1.330065
Atoms bonded to ['a116', 'a120', 'a121', 'a122']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a118
Atom type: H
X position: 13.821313
Y position: -0.034905
Z position: 2.454251
Atoms bonded to ['a116']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a119
Atom type: H
X position: 13.382960
Y position: 1.521607
Z position: 3.230045
Atoms bonded to ['a116']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a120
Atom type: C
X position: 14.558229
Y position: 1.122476
Z position: -0.041443
Atoms bonded to ['a117', 'a123', 'a124', 'a125']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a121
Atom type: H
X position: 15.299822
Y position: 1.824601
Z position: 1.865015
Atoms bonded to ['a117']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a122
Atom type: H
X position: 13.952773
Y position: 2.810273
Z position: 1.194461
Atoms bonded to ['a117']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a123
Atom type: C
X position: 15.778906
Y position: 1.751947
Z position: -0.724294
Atoms bonded to ['a120', 'a126', 'a127', 'a128']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a124
Atom type: H
X position: 13.652734
Y position: 1.211253
Z position: -0.678519
Atoms bonded to ['a120']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a125
Atom type: H
X position: 14.791292
Y position: 0.045847
Z position: 0.113509
Atoms bonded to ['a120']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a126
Atom type: C
X position: 16.094488
Y position: 1.071224
Z position: -2.062548
Atoms bonded to ['a123', 'a129', 'a130', 'a131']
Number of bonds 4
OPLS id 81
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1200

Atom id: a127
Atom type: H
X position: 16.634898
Y position: 1.593746
Z position: -0.033302
Atoms bonded to ['a123']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a128
Atom type: H
X position: 15.653506
Y position: 2.848194
Z position: -0.877935
Atoms bonded to ['a123']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a129
Atom type: C
X position: 17.552637
Y position: 1.303417
Z position: -2.452325
Atoms bonded to ['a126', 'a132', 'a133', 'a134']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a130
Atom type: H
X position: 15.400275
Y position: 1.446235
Z position: -2.847595
Atoms bonded to ['a126']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a131
Atom type: H
X position: 15.965838
Y position: -0.028518
Z position: -1.975646
Atoms bonded to ['a126']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a132
Atom type: H
X position: 17.787524
Y position: 2.384898
Z position: -2.525725
Atoms bonded to ['a129']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a133
Atom type: H
X position: 17.769117
Y position: 0.807035
Z position: -3.420736
Atoms bonded to ['a129']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a134
Atom type: H
X position: 18.210011
Y position: 0.842882
Z position: -1.680162
Atoms bonded to ['a129']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a135
Atom type: C
X position: -20.587536
Y position: -3.181266
Z position: -3.046464
Atoms bonded to ['a106', 'a138', 'a139', 'a140']
Number of bonds 4
OPLS id 80
OPLS bond id 13
OPLS sigma 3.5000
OPLS epsilon 0.0660
OPLS partial charge -0.1800

Atom id: a136
Atom type: H
X position: -20.609853
Y position: -1.031100
Z position: -2.756774
Atoms bonded to ['a106']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a137
Atom type: H
X position: -20.683213
Y position: -2.020011
Z position: -1.247001
Atoms bonded to ['a106']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a138
Atom type: H
X position: -20.142182
Y position: -3.150210
Z position: -4.062525
Atoms bonded to ['a135']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a139
Atom type: H
X position: -21.692774
Y position: -3.241752
Z position: -3.137208
Atoms bonded to ['a135']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

Atom id: a140
Atom type: H
X position: -20.230361
Y position: -4.091062
Z position: -2.516840
Atoms bonded to ['a135']
Number of bonds 1
OPLS id 85
OPLS bond id 46
OPLS sigma 2.5000
OPLS epsilon 0.0300
OPLS partial charge 0.0600

   BONDS   
-----------
Bond Master Type: N
Bond Slave Type: C
Bond Number 0
Bond Type: 1
Bond Master(bonded from): a1
Bond Slave(bonded to): a2
OPLS Force Constant: 490.00
OPLS Equilibrium Length: 1.3350

Bond Master Type: C
Bond Slave Type: C
Bond Number 1
Bond Type: 1
Bond Master(bonded from): a2
Bond Slave(bonded to): a3
OPLS Force Constant: 400.00
OPLS Equilibrium Length: 1.4900

Bond Master Type: C
Bond Slave Type: C
Bond Number 2
Bond Type: 1
Bond Master(bonded from): a3
Bond Slave(bonded to): a4
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: N
Bond Slave Type: C
Bond Number 3
Bond Type: 1
Bond Master(bonded from): a1
Bond Slave(bonded to): a5
OPLS Force Constant: 427.00
OPLS Equilibrium Length: 1.3810

Bond Master Type: C
Bond Slave Type: C
Bond Number 4
Bond Type: 2
Bond Master(bonded from): a5
Bond Slave(bonded to): a4
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: O
Bond Number 5
Bond Type: 2
Bond Master(bonded from): a2
Bond Slave(bonded to): a6
OPLS Force Constant: 570.00
OPLS Equilibrium Length: 1.2290

Bond Master Type: C
Bond Slave Type: C
Bond Number 6
Bond Type: 1
Bond Master(bonded from): a4
Bond Slave(bonded to): a7
OPLS Force Constant: 400.00
OPLS Equilibrium Length: 1.4900

Bond Master Type: C
Bond Slave Type: C
Bond Number 7
Bond Type: 2
Bond Master(bonded from): a3
Bond Slave(bonded to): a8
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: N
Bond Number 8
Bond Type: 1
Bond Master(bonded from): a7
Bond Slave(bonded to): a9
OPLS Force Constant: 490.00
OPLS Equilibrium Length: 1.3350

Bond Master Type: C
Bond Slave Type: N
Bond Number 9
Bond Type: 1
Bond Master(bonded from): a8
Bond Slave(bonded to): a9
OPLS Force Constant: 427.00
OPLS Equilibrium Length: 1.3810

Bond Master Type: C
Bond Slave Type: C
Bond Number 10
Bond Type: 1
Bond Master(bonded from): a8
Bond Slave(bonded to): a10
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 11
Bond Type: 2
Bond Master(bonded from): a10
Bond Slave(bonded to): a11
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: S
Bond Number 12
Bond Type: 1
Bond Master(bonded from): a10
Bond Slave(bonded to): a12
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 13
Bond Type: 1
Bond Master(bonded from): a11
Bond Slave(bonded to): a13
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 14
Bond Type: 1
Bond Master(bonded from): a11
Bond Slave(bonded to): a14
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: S
Bond Slave Type: C
Bond Number 15
Bond Type: 1
Bond Master(bonded from): a12
Bond Slave(bonded to): a15
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 16
Bond Type: 2
Bond Master(bonded from): a13
Bond Slave(bonded to): a15
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 17
Bond Type: 1
Bond Master(bonded from): a13
Bond Slave(bonded to): a16
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: S
Bond Slave Type: C
Bond Number 18
Bond Type: 1
Bond Master(bonded from): a17
Bond Slave(bonded to): a19
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 19
Bond Type: 2
Bond Master(bonded from): a18
Bond Slave(bonded to): a20
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: S
Bond Number 20
Bond Type: 1
Bond Master(bonded from): a18
Bond Slave(bonded to): a17
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 21
Bond Type: 1
Bond Master(bonded from): a20
Bond Slave(bonded to): a21
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 22
Bond Type: 1
Bond Master(bonded from): a20
Bond Slave(bonded to): a22
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 23
Bond Type: 2
Bond Master(bonded from): a21
Bond Slave(bonded to): a19
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 24
Bond Type: 1
Bond Master(bonded from): a21
Bond Slave(bonded to): a23
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: O
Bond Number 25
Bond Type: 2
Bond Master(bonded from): a7
Bond Slave(bonded to): a24
OPLS Force Constant: 570.00
OPLS Equilibrium Length: 1.2290

Bond Master Type: N
Bond Slave Type: C
Bond Number 26
Bond Type: 1
Bond Master(bonded from): a9
Bond Slave(bonded to): a25
OPLS Force Constant: 337.00
OPLS Equilibrium Length: 1.4490

Bond Master Type: C
Bond Slave Type: C
Bond Number 27
Bond Type: 1
Bond Master(bonded from): a25
Bond Slave(bonded to): a26
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 28
Bond Type: 1
Bond Master(bonded from): a25
Bond Slave(bonded to): a27
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 29
Bond Type: 1
Bond Master(bonded from): a25
Bond Slave(bonded to): a28
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 30
Bond Type: 1
Bond Master(bonded from): a26
Bond Slave(bonded to): a29
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 31
Bond Type: 1
Bond Master(bonded from): a26
Bond Slave(bonded to): a30
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 32
Bond Type: 1
Bond Master(bonded from): a26
Bond Slave(bonded to): a31
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 33
Bond Type: 1
Bond Master(bonded from): a29
Bond Slave(bonded to): a32
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 34
Bond Type: 1
Bond Master(bonded from): a29
Bond Slave(bonded to): a33
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 35
Bond Type: 1
Bond Master(bonded from): a29
Bond Slave(bonded to): a34
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 36
Bond Type: 1
Bond Master(bonded from): a32
Bond Slave(bonded to): a35
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 37
Bond Type: 1
Bond Master(bonded from): a32
Bond Slave(bonded to): a36
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 38
Bond Type: 1
Bond Master(bonded from): a32
Bond Slave(bonded to): a37
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 39
Bond Type: 1
Bond Master(bonded from): a30
Bond Slave(bonded to): a38
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 40
Bond Type: 1
Bond Master(bonded from): a30
Bond Slave(bonded to): a39
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 41
Bond Type: 1
Bond Master(bonded from): a30
Bond Slave(bonded to): a40
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 42
Bond Type: 1
Bond Master(bonded from): a38
Bond Slave(bonded to): a41
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 43
Bond Type: 1
Bond Master(bonded from): a38
Bond Slave(bonded to): a42
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 44
Bond Type: 1
Bond Master(bonded from): a38
Bond Slave(bonded to): a43
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 45
Bond Type: 1
Bond Master(bonded from): a41
Bond Slave(bonded to): a44
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 46
Bond Type: 1
Bond Master(bonded from): a41
Bond Slave(bonded to): a45
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 47
Bond Type: 1
Bond Master(bonded from): a41
Bond Slave(bonded to): a46
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 48
Bond Type: 1
Bond Master(bonded from): a44
Bond Slave(bonded to): a47
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 49
Bond Type: 1
Bond Master(bonded from): a44
Bond Slave(bonded to): a48
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 50
Bond Type: 1
Bond Master(bonded from): a44
Bond Slave(bonded to): a49
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: N
Bond Slave Type: C
Bond Number 51
Bond Type: 1
Bond Master(bonded from): a1
Bond Slave(bonded to): a50
OPLS Force Constant: 337.00
OPLS Equilibrium Length: 1.4490

Bond Master Type: C
Bond Slave Type: C
Bond Number 52
Bond Type: 1
Bond Master(bonded from): a50
Bond Slave(bonded to): a51
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 53
Bond Type: 1
Bond Master(bonded from): a50
Bond Slave(bonded to): a52
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 54
Bond Type: 1
Bond Master(bonded from): a50
Bond Slave(bonded to): a53
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 55
Bond Type: 1
Bond Master(bonded from): a51
Bond Slave(bonded to): a54
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 56
Bond Type: 1
Bond Master(bonded from): a51
Bond Slave(bonded to): a55
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 57
Bond Type: 1
Bond Master(bonded from): a51
Bond Slave(bonded to): a56
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 58
Bond Type: 1
Bond Master(bonded from): a55
Bond Slave(bonded to): a57
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 59
Bond Type: 1
Bond Master(bonded from): a55
Bond Slave(bonded to): a58
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 60
Bond Type: 1
Bond Master(bonded from): a55
Bond Slave(bonded to): a59
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 61
Bond Type: 1
Bond Master(bonded from): a57
Bond Slave(bonded to): a60
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 62
Bond Type: 1
Bond Master(bonded from): a57
Bond Slave(bonded to): a61
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 63
Bond Type: 1
Bond Master(bonded from): a57
Bond Slave(bonded to): a62
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 64
Bond Type: 1
Bond Master(bonded from): a54
Bond Slave(bonded to): a63
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 65
Bond Type: 1
Bond Master(bonded from): a54
Bond Slave(bonded to): a64
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 66
Bond Type: 1
Bond Master(bonded from): a54
Bond Slave(bonded to): a65
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 67
Bond Type: 1
Bond Master(bonded from): a63
Bond Slave(bonded to): a66
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 68
Bond Type: 1
Bond Master(bonded from): a63
Bond Slave(bonded to): a67
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 69
Bond Type: 1
Bond Master(bonded from): a63
Bond Slave(bonded to): a68
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 70
Bond Type: 1
Bond Master(bonded from): a66
Bond Slave(bonded to): a69
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 71
Bond Type: 1
Bond Master(bonded from): a66
Bond Slave(bonded to): a70
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 72
Bond Type: 1
Bond Master(bonded from): a66
Bond Slave(bonded to): a71
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 73
Bond Type: 1
Bond Master(bonded from): a69
Bond Slave(bonded to): a72
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 74
Bond Type: 1
Bond Master(bonded from): a69
Bond Slave(bonded to): a73
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 75
Bond Type: 1
Bond Master(bonded from): a69
Bond Slave(bonded to): a74
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 76
Bond Type: 1
Bond Master(bonded from): a5
Bond Slave(bonded to): a75
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 77
Bond Type: 2
Bond Master(bonded from): a75
Bond Slave(bonded to): a76
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 78
Bond Type: 1
Bond Master(bonded from): a76
Bond Slave(bonded to): a77
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 79
Bond Type: 1
Bond Master(bonded from): a76
Bond Slave(bonded to): a78
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 80
Bond Type: 2
Bond Master(bonded from): a77
Bond Slave(bonded to): a79
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 81
Bond Type: 1
Bond Master(bonded from): a77
Bond Slave(bonded to): a80
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: S
Bond Number 82
Bond Type: 1
Bond Master(bonded from): a79
Bond Slave(bonded to): a81
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: S
Bond Slave Type: C
Bond Number 83
Bond Type: 1
Bond Master(bonded from): a81
Bond Slave(bonded to): a75
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 84
Bond Type: 1
Bond Master(bonded from): a79
Bond Slave(bonded to): a82
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: S
Bond Number 85
Bond Type: 1
Bond Master(bonded from): a82
Bond Slave(bonded to): a83
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: S
Bond Slave Type: C
Bond Number 86
Bond Type: 1
Bond Master(bonded from): a83
Bond Slave(bonded to): a84
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 87
Bond Type: 2
Bond Master(bonded from): a84
Bond Slave(bonded to): a85
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 88
Bond Type: 2
Bond Master(bonded from): a82
Bond Slave(bonded to): a86
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 89
Bond Type: 1
Bond Master(bonded from): a85
Bond Slave(bonded to): a86
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 90
Bond Type: 1
Bond Master(bonded from): a85
Bond Slave(bonded to): a87
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 91
Bond Type: 1
Bond Master(bonded from): a86
Bond Slave(bonded to): a88
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 92
Bond Type: 1
Bond Master(bonded from): a84
Bond Slave(bonded to): a89
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 93
Bond Type: 2
Bond Master(bonded from): a89
Bond Slave(bonded to): a90
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 94
Bond Type: 1
Bond Master(bonded from): a90
Bond Slave(bonded to): a91
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 95
Bond Type: 1
Bond Master(bonded from): a90
Bond Slave(bonded to): a92
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 96
Bond Type: 2
Bond Master(bonded from): a91
Bond Slave(bonded to): a93
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 97
Bond Type: 1
Bond Master(bonded from): a91
Bond Slave(bonded to): a94
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: S
Bond Number 98
Bond Type: 1
Bond Master(bonded from): a93
Bond Slave(bonded to): a95
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: S
Bond Slave Type: C
Bond Number 99
Bond Type: 1
Bond Master(bonded from): a95
Bond Slave(bonded to): a89
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 100
Bond Type: 1
Bond Master(bonded from): a93
Bond Slave(bonded to): a96
OPLS Force Constant: 317.00
OPLS Equilibrium Length: 1.5100

Bond Master Type: C
Bond Slave Type: C
Bond Number 101
Bond Type: 1
Bond Master(bonded from): a96
Bond Slave(bonded to): a97
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 102
Bond Type: 1
Bond Master(bonded from): a96
Bond Slave(bonded to): a98
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 103
Bond Type: 1
Bond Master(bonded from): a96
Bond Slave(bonded to): a99
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 104
Bond Type: 1
Bond Master(bonded from): a97
Bond Slave(bonded to): a100
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 105
Bond Type: 1
Bond Master(bonded from): a97
Bond Slave(bonded to): a101
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 106
Bond Type: 1
Bond Master(bonded from): a97
Bond Slave(bonded to): a102
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 107
Bond Type: 1
Bond Master(bonded from): a100
Bond Slave(bonded to): a103
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 108
Bond Type: 1
Bond Master(bonded from): a100
Bond Slave(bonded to): a104
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 109
Bond Type: 1
Bond Master(bonded from): a100
Bond Slave(bonded to): a105
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 110
Bond Type: 1
Bond Master(bonded from): a103
Bond Slave(bonded to): a106
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 111
Bond Type: 1
Bond Master(bonded from): a103
Bond Slave(bonded to): a107
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 112
Bond Type: 1
Bond Master(bonded from): a103
Bond Slave(bonded to): a108
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 113
Bond Type: 1
Bond Master(bonded from): a15
Bond Slave(bonded to): a109
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 114
Bond Type: 2
Bond Master(bonded from): a109
Bond Slave(bonded to): a110
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 115
Bond Type: 1
Bond Master(bonded from): a110
Bond Slave(bonded to): a111
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 116
Bond Type: 1
Bond Master(bonded from): a110
Bond Slave(bonded to): a112
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 117
Bond Type: 2
Bond Master(bonded from): a111
Bond Slave(bonded to): a113
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: H
Bond Number 118
Bond Type: 1
Bond Master(bonded from): a111
Bond Slave(bonded to): a114
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: S
Bond Number 119
Bond Type: 1
Bond Master(bonded from): a109
Bond Slave(bonded to): a115
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: S
Bond Number 120
Bond Type: 1
Bond Master(bonded from): a113
Bond Slave(bonded to): a115
OPLS Force Constant: 250.00
OPLS Equilibrium Length: 1.7600

Bond Master Type: C
Bond Slave Type: C
Bond Number 121
Bond Type: 1
Bond Master(bonded from): a113
Bond Slave(bonded to): a18
OPLS Force Constant: 469.00
OPLS Equilibrium Length: 1.4000

Bond Master Type: C
Bond Slave Type: C
Bond Number 122
Bond Type: 1
Bond Master(bonded from): a19
Bond Slave(bonded to): a116
OPLS Force Constant: 317.00
OPLS Equilibrium Length: 1.5100

Bond Master Type: C
Bond Slave Type: C
Bond Number 123
Bond Type: 1
Bond Master(bonded from): a116
Bond Slave(bonded to): a117
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 124
Bond Type: 1
Bond Master(bonded from): a116
Bond Slave(bonded to): a118
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 125
Bond Type: 1
Bond Master(bonded from): a116
Bond Slave(bonded to): a119
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 126
Bond Type: 1
Bond Master(bonded from): a117
Bond Slave(bonded to): a120
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 127
Bond Type: 1
Bond Master(bonded from): a117
Bond Slave(bonded to): a121
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 128
Bond Type: 1
Bond Master(bonded from): a117
Bond Slave(bonded to): a122
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 129
Bond Type: 1
Bond Master(bonded from): a120
Bond Slave(bonded to): a123
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 130
Bond Type: 1
Bond Master(bonded from): a120
Bond Slave(bonded to): a124
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 131
Bond Type: 1
Bond Master(bonded from): a120
Bond Slave(bonded to): a125
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 132
Bond Type: 1
Bond Master(bonded from): a123
Bond Slave(bonded to): a126
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 133
Bond Type: 1
Bond Master(bonded from): a123
Bond Slave(bonded to): a127
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 134
Bond Type: 1
Bond Master(bonded from): a123
Bond Slave(bonded to): a128
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 135
Bond Type: 1
Bond Master(bonded from): a126
Bond Slave(bonded to): a129
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 136
Bond Type: 1
Bond Master(bonded from): a126
Bond Slave(bonded to): a130
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 137
Bond Type: 1
Bond Master(bonded from): a126
Bond Slave(bonded to): a131
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 138
Bond Type: 1
Bond Master(bonded from): a129
Bond Slave(bonded to): a132
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 139
Bond Type: 1
Bond Master(bonded from): a129
Bond Slave(bonded to): a133
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 140
Bond Type: 1
Bond Master(bonded from): a129
Bond Slave(bonded to): a134
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: C
Bond Number 141
Bond Type: 1
Bond Master(bonded from): a106
Bond Slave(bonded to): a135
OPLS Force Constant: 268.00
OPLS Equilibrium Length: 1.5290

Bond Master Type: C
Bond Slave Type: H
Bond Number 142
Bond Type: 1
Bond Master(bonded from): a106
Bond Slave(bonded to): a136
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 143
Bond Type: 1
Bond Master(bonded from): a106
Bond Slave(bonded to): a137
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 144
Bond Type: 1
Bond Master(bonded from): a135
Bond Slave(bonded to): a138
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 145
Bond Type: 1
Bond Master(bonded from): a135
Bond Slave(bonded to): a139
OPLS Force Constant: 
OPLS Equilibrium Length: 

Bond Master Type: C
Bond Slave Type: H
Bond Number 146
Bond Type: 1
Bond Master(bonded from): a135
Bond Slave(bonded to): a140
OPLS Force Constant: 
OPLS Equilibrium Length: 

Created by CMLParser

	140 atoms
	147 bonds
	5 atom types
	379 bond types
	-100.212321 109.673554 xlo xhi
	-100.128518 109.847682 ylo yhi
	-100.100887 103.497004 zlo zhi

Masses

1 1.00794
2 12.0107
3 14.0067
4 15.9994
5 32.065
	
Bond Coeffs

1 367.00 1.3800
2 420.00 1.3570
3 367.00 1.3600
4 450.00 1.2790
5 300.00 0.3000
6 420.00 1.3400
7 420.00 1.3540
8 420.00 1.3540
9 420.00 1.3540
10 420.00 1.3540
11 420.00 1.3540
12 420.00 1.3540
13 461.00 1.5700
14 260.00 1.5260
15 317.00 1.5220
16 386.00 1.4250
17 260.00 1.5260
18 260.00 1.5260
19 317.00 1.5000
20 317.00 1.5100
21 260.00 1.5260
22 317.00 1.5000
23 222.00 1.8100
24 222.00 1.8100
25 320.00 1.4250
26 337.00 1.4490
27 382.00 1.4480
28 317.00 1.5100
29 260.00 1.5260
30 367.00 1.4710
31 337.00 1.4630
32 317.00 1.4950
33 350.00 1.5100
34 570.00 1.2290
35 450.00 1.3640
36 317.00 1.5220
37 317.00 1.5220
38 469.00 1.4000
39 317.00 1.5220
40 400.00 1.4440
41 214.00 1.3270
42 300.00 1.7900
43 490.00 1.3350
44 317.00 1.5220
45 340.00 1.0900
46 410.00 1.4440
47 400.00 1.4900
48 385.00 1.4600
49 656.00 1.2500
50 457.00 1.3580
51 418.00 1.3880
52 447.00 1.4190
53 300.00 1.9800
54 400.00 1.4900
55 385.00 1.4600
56 424.00 1.3830
57 490.00 1.3350
58 553.00 0.3000
59 525.00 1.4800
60 570.00 1.2290
61 700.00 1.1710
62 386.00 1.4250
63 553.00 0.9450
64 386.00 1.4250
65 320.00 1.4100
66 250.00 1.4700
67 400.00 1.3800
68 340.00 0.3000
69 320.00 1.4500
70 450.00 1.3700
71 450.00 1.3640
72 320.00 1.3800
73 230.00 1.6100
74 450.00 1.6700
75 94.00 1.8000
76 374.00 1.6400
77 260.00 1.5260
78 260.00 1.5260
79 317.00 1.5000
80 260.00 1.5260
81 317.00 1.5000
82 222.00 1.8100
83 222.00 1.8100
84 320.00 1.4250
85 337.00 1.4490
86 382.00 1.4480
87 317.00 1.5100
88 260.00 1.5260
89 367.00 1.4710
90 337.00 1.4630
91 222.00 1.8100
92 337.00 1.4750
93 553.00 0.9450
94 340.00 0.1000
95 530.00 1.3400
96 530.00 1.3400
97 530.00 1.3400
98 260.00 1.5260
99 317.00 1.5000
100 317.00 1.5000
101 320.00 1.4250
102 337.00 1.4490
103 382.00 1.4480
104 337.00 1.4750
105 530.00 1.3400
106 317.00 1.5000
107 530.00 1.3400
108 222.00 1.7600
109 469.00 1.4000
110 469.00 1.4000
111 469.00 1.4000
112 469.00 1.4000
113 268.00 1.5290
114 317.00 1.5000
115 222.00 1.8100
116 222.00 1.8100
117 390.00 1.4300
118 390.00 1.4700
119 320.00 1.4100
120 245.00 1.7810
121 340.00 1.7900
122 337.00 1.4490
123 340.00 0.3000
124 382.00 1.4480
125 340.00 1.0900
126 317.00 1.5100
127 317.00 1.5100
128 317.00 1.5100
129 268.00 1.5290
130 367.00 1.4710
131 337.00 1.4630
132 337.00 1.4490
133 337.00 1.4750
134 317.00 1.5100
135 212.00 1.8430
136 245.00 1.9450
137 200.00 2.1900
138 340.00 1.7700
139 317.00 1.4950
140 317.00 1.5040
141 317.00 1.5040
142 317.00 1.5040
143 317.00 1.4950
144 337.00 1.4490
145 280.00 1.5100
146 532.80 1.4600
147 382.00 1.4480
148 375.00 1.4900
149 212.00 1.8200
150 337.00 1.4750
151 337.00 1.4490
152 187.00 1.8600
153 317.00 1.5100
154 530.00 1.3400
155 274.00 1.3360
156 250.00 1.7400
157 166.00 2.0380
158 300.00 1.6850
159 250.00 1.7300
160 340.00 0.5000
161 250.00 1.7600
162 250.00 1.7600
163 250.00 1.7300
164 250.00 1.7600
165 250.00 1.7400
166 222.00 1.8100
167 144.00 2.1500
168 340.00 0.1000
169 550.00 1.1200
170 650.00 1.1570
171 400.00 1.4100
172 550.00 1.2400
173 1150.00 1.2100
174 330.00 1.6370
175 420.00 1.0800
176 400.00 1.4260
177 400.00 1.4510
178 400.00 1.4260
179 330.00 1.7840
180 400.00 1.4510
181 400.00 1.4510
182 250.00 1.4700
183 200.00 1.6900
184 320.00 1.4500
185 340.00 0.3000
186 320.00 1.4500
187 450.00 1.3700
188 450.00 1.3640
189 320.00 1.3800
190 340.00 1.3600
191 462.00 1.3990
192 230.00 1.6100
193 462.00 1.3570
194 340.00 1.3600
195 374.00 1.6400
196 300.00 0.3000
197 300.00 1.7250
198 300.00 1.7250
199 300.00 1.7250
200 300.00 1.7250
201 300.00 1.7250
202 300.00 1.7250
203 300.00 1.7250
204 223.00 2.0200
205 700.00 1.5300
206 340.00 0.5000
207 340.00 0.3000
208 700.00 1.4400
209 367.00 0.3000
210 434.00 1.0100
211 427.00 1.3810
212 427.00 1.3810
213 434.00 1.6700
214 427.00 1.3810
215 427.00 1.3810
216 337.00 1.4490
217 500.00 1.2700
218 40.00 2.0500
219 340.00 0.3000
220 340.00 0.3000
221 340.00 0.1000
222 340.00 0.3000
223 340.00 0.3000
224 367.00 0.3000
225 340.00 0.3000
226 340.00 0.3000
227 367.00 0.3000
228 367.00 0.3000
229 300.00 0.3000
230 340.00 0.1000
231 600.00 0.9572
232 900.00 0.1500
233 40.00 2.0500
234 529.60 0.9572
235 600.00 0.9572
236 900.00 0.1750
237 600.00 0.9572
238 900.00 0.7000
239 600.00 1.0000
240 350.00 1.4450
241 434.00 1.0100
242 481.00 1.3400
243 340.00 1.7700
244 382.00 1.4480
245 266.00 1.7400
246 434.00 1.0100
247 434.00 1.0100
248 434.00 1.0100
249 434.00 1.0100
250 434.00 1.0100
251 434.00 1.0100
252 166.00 1.4800
253 340.00 1.0800
254 340.00 1.0800
255 340.00 1.0900
256 340.00 1.0800
257 340.00 1.0880
258 532.80 1.0840
259 166.00 1.4800
260 340.00 1.0800
261 549.00 1.3400
262 427.00 1.4330
263 549.00 1.3400
264 448.00 1.3650
265 367.00 1.0800
266 300.00 1.9000
267 250.00 2.0800
268 385.00 1.4600
269 317.00 1.5100
270 448.00 1.3650
271 700.00 1.3050
272 469.00 1.4000
273 367.00 1.0800
274 427.00 1.4330
275 400.00 1.4500
276 481.00 1.3400
277 483.00 1.3390
278 427.00 1.3810
279 469.00 1.4040
280 414.00 1.3910
281 220.00 1.7800
282 300.00 1.8700
283 250.00 2.0800
284 340.00 1.7700
285 469.00 1.4000
286 546.00 1.3670
287 469.00 1.4000
288 469.00 1.4210
289 317.00 1.4900
290 382.00 1.3850
291 400.00 1.4600
292 427.00 1.4330
293 367.00 1.0800
294 340.00 1.0800
295 367.00 1.0800
296 367.00 1.0800
297 367.00 1.0800
298 367.00 1.0800
299 367.00 1.0800
300 367.00 1.0800
301 385.00 1.4600
302 457.00 1.2900
303 549.00 1.3650
304 385.00 1.4600
305 337.00 1.4750
306 525.00 1.4800
307 434.00 1.0100
308 434.00 1.0100
309 481.00 1.3400
310 481.00 1.3400
311 500.00 1.3200
312 502.00 1.3240
313 461.00 1.3540
314 461.00 1.3540
315 483.00 1.3390
316 550.00 1.2100
317 457.00 1.2900
318 436.00 1.3740
319 400.00 1.3490
320 440.00 1.3710
321 428.00 1.3800
322 477.00 1.3430
323 427.00 1.3810
324 427.00 1.3810
325 385.00 1.4400
326 367.00 1.0800
327 367.00 1.0800
328 367.00 1.0800
329 520.00 1.3700
330 414.00 1.3910
331 388.00 1.4590
332 447.00 1.4190
333 469.00 1.4240
334 436.00 1.3740
335 400.00 1.2800
336 529.00 1.3040
337 488.00 1.3350
338 410.00 1.3940
339 410.00 1.3940
340 410.00 1.3200
341 367.00 1.0800
342 440.00 1.3710
343 367.00 1.0800
344 108.00 2.2500
345 300.00 1.8700
346 300.00 1.8700
347 300.00 1.8700
348 300.00 1.8700
349 300.00 1.8700
350 151.00 2.1900
351 250.00 2.0800
352 250.00 2.0800
353 250.00 2.0800
354 250.00 2.0800
355 250.00 2.0800
356 108.00 2.4400
357 500.00 1.8000
358 546.00 1.3520
359 385.00 1.4600
360 520.00 1.3700
361 520.00 1.3700
362 385.00 1.4600
363 512.00 1.3750
364 385.00 1.4600
365 546.00 1.3670
366 520.00 1.3700
367 520.00 1.3700
368 385.00 1.4600
369 385.00 1.4600
370 385.00 1.4600
371 469.00 1.4240
372 469.00 1.4240
373 490.00 1.3350
374 317.00 1.5220
375 337.00 1.4490
376 260.00 1.5200
377 550.00 1.2250
378 94.00 2.3200
379 549.00 1.3450



Pair Coeffs

1 0.0300 2.4200
2 0.1050 3.7500
3 0.1700 3.2500
4 0.2100 2.9600
5 0.2500 3.5500

Atoms

1 1 3 -2.5714 -0.4601 -0.3542
2 1 2 -1.2090 -0.2971 -0.3083
3 1 2 -0.8837 0.7694 0.4959
4 1 2 -2.1065 1.2888 0.9743
5 1 2 -3.1348 0.5190 0.4296
6 1 4 -0.4206 -1.0222 -0.8834
7 1 2 -1.7773 2.3550 1.7764
8 1 2 0.1450 1.5293 1.0471
9 1 3 -0.4150 2.5163 1.8263
10 1 2 1.6064 1.2848 0.8562
11 1 2 2.2142 0.4759 -0.1197
12 1 5 2.8446 1.8730 1.7988
13 1 2 3.6315 0.4185 -0.0147
14 1 1 1.6885 -0.0506 -0.8925
15 1 2 4.1360 1.1731 1.0440
16 1 1 4.2512 -0.1564 -0.6902
17 1 5 10.6736 1.5189 2.5123
18 1 2 9.4852 0.9371 1.5184
19 1 2 11.9919 0.8366 1.7817
20 1 2 10.1080 0.1467 0.5456
21 1 2 11.5220 0.0889 0.6941
22 1 1 9.5736 -0.3742 -0.2379
23 1 1 12.1589 -0.4898 0.0391
24 1 4 -2.5646 3.0806 2.3560
25 1 2 0.2555 3.5913 2.5766
26 1 2 0.9242 4.6332 1.6312
27 1 1 0.9806 3.1379 3.2823
28 1 1 -0.4740 4.1288 3.2178
29 1 2 -0.1123 5.2686 0.6690
30 1 2 1.7490 5.6288 2.4993
31 1 1 1.6437 4.1006 0.9814
32 1 2 -1.1553 6.1649 1.3433
33 1 1 -0.6425 4.4629 0.1182
34 1 1 0.4146 5.8404 -0.1137
35 1 1 -1.7643 5.5997 2.0748
36 1 1 -1.8416 6.5702 0.5705
37 1 1 -0.6742 7.0192 1.8593
38 1 2 2.6861 6.6200 1.7747
39 1 1 2.4332 4.9871 3.0991
40 1 1 1.1071 6.1733 3.2248
41 1 2 2.0124 7.8816 1.2077
42 1 1 3.2746 6.0854 0.9976
43 1 1 3.4013 6.9868 2.5450
44 1 2 3.0520 8.8381 0.6282
45 1 1 1.4677 8.4044 2.0235
46 1 1 1.2987 7.6539 0.4031
47 1 1 3.7783 9.1447 1.4110
48 1 1 2.5468 9.7477 0.2398
49 1 1 3.5997 8.3516 -0.2071
50 1 2 -3.2358 -1.5371 -1.1079
51 1 2 -3.8620 -2.6102 -0.1695
52 1 1 -2.5033 -2.0593 -1.7626
53 1 1 -3.9770 -1.0800 -1.7945
54 1 2 -4.6802 -3.5943 -1.0528
55 1 2 -2.7157 -3.2498 0.6713
56 1 1 -4.5664 -2.1107 0.5212
57 1 2 -3.1111 -4.3064 1.6960
58 1 1 -2.2330 -2.4349 1.2522
59 1 1 -1.9474 -3.6910 -0.0009
60 1 1 -2.2221 -4.5625 2.3107
61 1 1 -3.4120 -5.2469 1.2018
62 1 1 -3.9081 -3.9237 2.3680
63 1 2 -5.7631 -4.3992 -0.3080
64 1 1 -3.9953 -4.2525 -1.6306
65 1 1 -5.2566 -2.9841 -1.7841
66 1 2 -6.5854 -5.2416 -1.2924
67 1 1 -6.4420 -3.6883 0.2130
68 1 1 -5.3408 -5.0806 0.4429
69 1 2 -7.6838 -6.0189 -0.5722
70 1 1 -5.9178 -5.9619 -1.8139
71 1 1 -7.0580 -4.5800 -2.0510
72 1 1 -7.2412 -6.7085 0.1779
73 1 1 -8.2602 -6.6174 -1.3086
74 1 1 -8.3787 -5.3195 -0.0602
75 1 2 -4.5996 0.7375 0.6489
76 1 2 -5.1966 1.5489 1.6292
77 1 2 -6.6180 1.5536 1.5848
78 1 1 -4.6608 2.1080 2.3706
79 1 2 -7.1417 0.7530 0.5698
80 1 1 -7.2273 2.1185 2.2779
81 1 5 -5.8569 0.0823 -0.2268
82 1 2 -8.5618 0.5299 0.2709
83 1 5 -9.8487 1.1937 1.0801
84 1 2 -11.0892 0.5017 0.2228
85 1 2 -10.5089 -0.3029 -0.7648
86 1 2 -9.0860 -0.2871 -0.7378
87 1 1 -11.0794 -0.8807 -1.4797
88 1 1 -8.4759 -0.8536 -1.4289
89 1 2 -12.5245 0.7042 0.4604
90 1 2 -13.0987 1.5236 1.4388
91 1 2 -14.5206 1.5201 1.4110
92 1 1 -12.5245 2.1061 2.1472
93 1 2 -15.0557 0.6961 0.4150
94 1 1 -15.1275 2.0970 2.0965
95 1 5 -13.7708 0.0081 -0.3868
96 1 2 -16.5226 0.5013 0.1566
97 1 2 -16.8252 -0.5225 -0.9465
98 1 1 -16.9648 1.4851 -0.1102
99 1 1 -16.9892 0.1459 1.1013
100 1 2 -18.3406 -0.6620 -1.1400
101 1 1 -16.4000 -1.5034 -0.6389
102 1 1 -16.3581 -0.2118 -1.9073
103 1 2 -18.6887 -1.8082 -2.0963
104 1 1 -18.7540 0.2983 -1.5205
105 1 1 -18.8093 -0.8867 -0.1564
106 1 2 -20.2100 -1.9367 -2.2495
107 1 1 -18.2841 -2.7515 -1.6679
108 1 1 -18.2248 -1.6408 -3.0937
109 1 2 5.5413 1.3195 1.4313
110 1 2 6.0345 2.0774 2.4994
111 1 2 7.4480 2.0125 2.6255
112 1 1 5.4088 2.6554 3.1666
113 1 2 8.0518 1.2053 1.6547
114 1 1 7.9962 2.5370 3.3970
115 1 5 6.8432 0.6097 0.6896
116 1 2 13.4014 0.9762 2.2618
117 1 2 14.3263 1.7714 1.3301
118 1 1 13.8213 -0.0349 2.4543
119 1 1 13.3830 1.5216 3.2300
120 1 2 14.5582 1.1225 -0.0414
121 1 1 15.2998 1.8246 1.8650
122 1 1 13.9528 2.8103 1.1945
123 1 2 15.7789 1.7519 -0.7243
124 1 1 13.6527 1.2113 -0.6785
125 1 1 14.7913 0.0458 0.1135
126 1 2 16.0945 1.0712 -2.0625
127 1 1 16.6349 1.5937 -0.0333
128 1 1 15.6535 2.8482 -0.8779
129 1 2 17.5526 1.3034 -2.4523
130 1 1 15.4003 1.4462 -2.8476
131 1 1 15.9658 -0.0285 -1.9756
132 1 1 17.7875 2.3849 -2.5257
133 1 1 17.7691 0.8070 -3.4207
134 1 1 18.2100 0.8429 -1.6802
135 1 2 -20.5875 -3.1813 -3.0465
136 1 1 -20.6099 -1.0311 -2.7568
137 1 1 -20.6832 -2.0200 -1.2470
138 1 1 -20.1422 -3.1502 -4.0625
139 1 1 -21.6928 -3.2418 -3.1372
140 1 1 -20.2304 -4.0911 -2.5168

Bonds

1 373 1 2
2 54 2 3
3 287 3 4
4 324 1 5
5 287 5 4
6 60 2 6
7 54 4 7
8 287 3 8
9 373 7 9
10 324 8 9
11 287 8 10
12 287 10 11
13 164 10 12
14 287 11 13
15 164 12 15
16 287 13 15
17 164 17 19
18 287 18 20
19 164 18 17
20 287 20 21
21 287 21 19
22 60 7 24
23 375 9 25
24 129 29 32
25 129 30 38
26 129 38 41
27 129 41 44
28 375 1 50
29 129 55 57
30 129 54 63
31 129 63 66
32 129 66 69
33 287 5 75
34 287 75 76
35 287 76 77
36 287 77 79
37 164 79 81
38 164 81 75
39 287 79 82
40 164 82 83
41 164 83 84
42 287 84 85
43 287 82 86
44 287 85 86
45 287 84 89
46 287 89 90
47 287 90 91
48 287 91 93
49 164 93 95
50 164 95 89
51 269 93 96
52 129 96 97
53 129 97 100
54 129 100 103
55 129 103 106
56 287 15 109
57 287 109 110
58 287 110 111
59 287 111 113
60 164 109 115
61 164 113 115
62 287 113 18
63 269 19 116
64 129 116 117
65 129 117 120
66 129 120 123
67 129 123 126
68 129 126 129
69 129 106 135

